@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

nav .navbar{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 100%;
    max-width: 1400px;
}

.logoname img{
    width: 32px;
    border-radius: 3px;
}

nav .navbar .logoname{
    margin: 10px;
    display: flex;
    width: 190px;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logoname h3{
    font-size: 20px;
    font-weight: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .navbar .logoname a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav .navbar .menuitems{
    display: flex;
    align-items: center;

}
nav .navbar .menuitems li{
    list-style: none;
    margin: 0 15px;
}

.menuitems li a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    padding: 2px 3px;
    border-radius: 5px;
}

.menuitems li a:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px;
    border: #6a15d8;
    background: none;

}
.home{
    top: 50%;
    left: 50%;
    text-align: center;

}

.home{
    background: linear-gradient(#000000cc,rgba(0,0,0,0.8)),url(assets//bankvector.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home .welcome{
    font-size: 30px;
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
}

.home .welcome span{
    color: rgb(111, 0, 255);
}

.home .btn .button1{
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    border: none;
    background: linear-gradient(90deg,#3812e0,#800ae0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: #800ae0;
}
.home .btn .button1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.home .btn .button2{
    position: absolute;
    display: block;
    top: 50%;
    right: 40%;
    border: none;
    background: linear-gradient(90deg,#3812e0,#800ae0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: #800ae0;

}
.home .btn .button2 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.home p{
    font-weight: 400;
    padding: 40px 80px;
    text-align: justify;
    left: 0;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    color: #dddada;
    width: 100%;
    font-size: medium;
}

.wrap-table100 {
    width: 1170px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: #36304a
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,table th {
    text-align: left
}

table td.l,table th.l {
    text-align: right
}

table td.c,table th.c {
    text-align: center
}

table td.r,table th.r {
    text-align: center
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 {
    width: 260px;
    padding-left: 40px
}

.column2 {
    width: 160px
}

.column3 {
    width: 245px
}

/*notification*/

.negativemsg,
.positivemsg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.positivemsg {
    width: 800px;
    margin-left: 20%;
    justify-content: space-between;
    display: flex;
    color: #270;
    background-color: #DFF2BF;
  }

.negativemsg {
    width: 800px;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    color: #9F6000;
    background-color: #FEEFB3;
  }